@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --primary: #F49363;
    --dark: #222;
    --text: #666;
    --light: #fff;
    --border: #ECECEC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;
    background: #fff;
    color: #222;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
}

/* top-annoucment-bar */
.top-bar {
    height: 52px;
    background: #F49363;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

/* navbar */
.navbar {
    padding: 20px 0;
}

.navbar-brand img {
    height: 58px;
}

.nav-link {
    font-weight: 500;
    color: #666;
    position: relative;
}

.nav-link.active {
    color: #111;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border-radius: 2px;
    width: 85%;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    position: relative;
}

.btn-request {
    border: 1px solid #ddd;
    padding: 14px 28px;
    border-radius: 14px;
    font-weight: 600;
}

.btn-request:hover {
    background: #fafafa;
}

.btn-claim {
    background: var(--primary);
    padding: 14px 30px;
    border-radius: 14px;
    font-weight: 600;
    color: #111;
}

.btn-claim:hover {
    background: #ea8553 !important;
}



/* hero section */
.hero {
    padding: 20px 0 70px
}

.hero-wrapper {
    height: 540px;
    border-radius: 45px;
    overflow: hidden;
    position: relative;
    background: url("../assets/img/bg_hero.png") center center/cover;

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .40);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 100%;
}

.location {
    font-size: 24px;
    color: #fff;
    margin-bottom: 18px;
}

.hero h1 {
    font-size: 68px;
    font-weight: 800;
    line-height: 1.1;
    color: #fff;
}

.hero h1 span {
    display: block;
}