@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --primary: #F49363;
    --dark: #222;
    --text: #666;
    --light: #fff;
    --border: #ECECEC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;
    background: #fff;
    color: #222;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
}

/* top-annoucment-bar */
.top-bar {
    height: 52px;
    background: #F49363;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

/* navbar */
.navbar {
    padding: 20px 0;
}

.navbar-brand img {
    height: 42px;
}

.nav-link {
    font-weight: 500;
    color: #666;
    position: relative;
}

.nav-link.active {
    color: #111;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border-radius: 2px;
    width: 85%;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    position: relative;
}

.btn-request {
    border: 1px solid #0000001F;
    padding: 15px 16px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-request:hover {
    background: #fafafa;
    border-color: #F49363;

}

.btn-claim {
    background: var(--primary);
    padding: 15px 16px;
    border-radius: 10px;
    font-weight: 600;
    color: #111;
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}


.btn-claim:hover {
    background: #ea8553 !important;
}



/* hero section */
.hero {
    padding: 20px 0 70px
}

.hero-wrapper {
    height: 540px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    background: url("../assets/img/bg_hero.png") center center/cover;

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .60);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 100%;
}

.location {
    font-size: 16px;
    color: #FFFFFFCC;
    margin-bottom: 9px;
    line-height: 22px;
    font-weight: 400;
}

.hero h1 {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    line-height: 44px;
}

.hero h1 span {
    display: block;
}

/* Hero Search
 */
.hero-search {
    width: 820px;
    margin: 42px auto 0;
}


.search-tabs {
    display: flex;
    z-index: 1;
    width: 540px;
    margin: auto;
    background: #fff;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .12);
}

.tab-btn {
    flex: 1;
    height: 54px;
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #555;
    transition: .3s;
    border-right: 1px solid #ECECEC;
}

.tab-btn:last-child {
    border-right: none;
}

.tab-btn i {
    font-size: 16px;
}

.tab-btn.active {
    background: #F49363;
    color: #111;
    font-weight: 600;
}

.tab-btn:hover {
    background: #fafafa;
}

.tab-btn.active:hover {
    background: #F49363;
}


.search-card {
    background: #fff;
    z-index: 10;
    border-radius: 20px;
    padding: 18px;
    margin-top: -1px;
    display: flex;
    align-items: center;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .18);
    border: 1px solid #0000001F;
}

/* Search Input */

.search-input {
    flex: 1;
    height: 55px;
    border: 1px solid #0000001F;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 6px 9px 5px 20px;

}

.search-input i {
    color: #888;
    font-size: 20px;
    margin-right: 14px;
}

.search-input input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.search-input input::placeholder {

    color: #A3A3A3;

}

.search-btn {

    width: 150px;
    height: 100%;
    border: none;
    border-radius: 14px;
    background: #F49363;
    font-weight: 600;
    transition: .3s;

}

.search-btn:hover {

    background: #eb8755;

}

/* Bottom Text */

.hero-bottom-text {

    margin-top: 30px;

    color: #F49363;

    font-size: 18px;

    font-weight: 600;

}